/* File: style.css
Author: Schermann Tilla Réka
Copyright: 2023, Schermann Tilla Réka
Group: Szoft I-2-E
Date: 2023.02.07
Github: 
Licenc: GNU GPL */

.fejlec{
    margin: 10px;
    color: gray;
    text-decoration: underline;
}
